body{
    background-image: url(/images/loginBg.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    align-items: center;


}
.cName{
    height: 45px;
    display: flex;
    align-items: center;

}
.cName:hover{
    color: aliceblue;
}
nav {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    
  nav button[type="submit"] {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #555;
    color: white;
    cursor: pointer;
  }
  
  nav ul {
    list-style-type: none;
    margin-left: 80px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  nav li {
    display: inline-flex;
    transition: 00.5s;
  }
  nav li:hover{
    transform: scale(1.3);
  }
  
  nav a {
    color: rgb(36, 34, 34);
    text-decoration: none;
    padding: 15px;
    border-radius: 15px;
  }


h1{
    padding-left: 0px;
}
h1:hover{
    color: rgb(224, 31, 60);
}
form {
    max-width: 500px;
    height: 75%;
    margin-top: 130px;
    margin-right:550px;
    align-items: center;
    float: right;



  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    display: block;
    width: 140%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  
  
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    float: right;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
    
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  } 

  